<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div>
    <h1>Realizar Pedido</h1>
    <form method="POST" action="/tomarPedido/guardar">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Cliente:</label>
            <input type="text" class="form-control" name="nombreCliente" id="nombre">
        </div>
        <div class="mb-3">
            <label for="numeroMesa" class="form-label">Numero de Mesa:</label>
            <input type="number" class="form-control" name="numeroMesa" id="numeroMesa">
        </div>
        <h2>Productos:</h2>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="cafe">
            <label class="form-check-label" for="cafe">Cafe</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="te">
            <label class="form-check-label" for="te">Te</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="postre">
            <label class="form-check-label" for="postre">Postre</label>
        </div>
        <h3>Personalizacion</h3>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad">
        </div>
        <h4>Opciones Adicionales:</h4>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="leche">
            <label class="form-check-label" for="leche">Leche Vegatal</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="sinazucar">
            <label class="form-check-label" for="sinazucar">Sin Azucar</label>
        </div>
        <button type="submit" class="btn btn-primary">Confirmar Pedido</button>
    </form>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>